/* Darkbox */
.mrs2000box-frame {
	position:fixed;
	top:0;
	left:0;
	display:none;
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:10350;
}
.darkbox-frame-on {
	display:block;
}

/* Shadow */
.darkbox-shadow {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
}

/* Canvas */
.darkbox-canvas {
	position:absolute;
	top:50%;
	left:50%;
	overflow:hidden;
	margin:-40px 0 0 -40px;
	width:80px;
	height:80px;
	background:#000 url(spinner.gif) 50% 50% no-repeat;
	opacity:.5;
}
.darkbox-canvas img {
	display: block;
	visibility: hidden;
    max-width: none;
}
.darkbox-canvas-load {
	background-image: none;
}
.darkbox-canvas-done {
	overflow: visible;
	opacity: 1;
}
.darkbox-canvas-done img {
	visibility: visible;
	opacity: 0;
    max-width: none;
}

/* Button */
/*mrs2000box*/
.darkbox-button-next {
	position:absolute;
	display:none;
    top:120px;
	width:30px;
	height:30px;
	cursor:pointer;
	z-index:1;      
    right:-20px;
	background:url(next.png) no-repeat;
}
.darkbox-button-prev {
	position:absolute;
	display:none;
    top:120px;
	width:30px;
	height:30px;
	cursor:pointer;
	z-index:1;      
    left:-20px;
	background:url(prev.png) no-repeat;
}

/*mrs2000box*/ 
.darkbox-description {
    background: #fff;
    opacity:.4;
    color: #000;
    position:absolute;
    text-align: center;
    bottom: 0;
    padding: 3px;
    display:none;
    cursor: pointer;
}
.darkbox-button {
	position:absolute;
	top:-13px;
	display:none;
	width:30px;
	height:30px;
	background:url(close.png) no-repeat;
	cursor:pointer;
	z-index:1;
}
.darkbox-button-on {
	display:block;
}
.darkbox-button-left {
	left:-16px;
}
.darkbox-button-right {
	right:-16px;
}

/* Просмотр фото */
* html body {
	height: 100%;
}
* html .mrs2000box-frame {
	position:absolute;
	top:expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}
.darkbox-shadow {
	filter:alpha(opacity=0);
}
.darkbox-canvas {
	filter:alpha(opacity=50);
}
.darkbox-canvas-done {
	filter:none;
}
.darkbox-canvas-done img {
    filter:alpha(opacity=0);
}
* html .darkbox-button {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='close.png',sizingMethod='crop');
}
* html .darkbox-button-prev {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='prev.png',sizingMethod='crop');
}
* html .darkbox-button-next {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='next.png',sizingMethod='crop');
}